

      #welcome_label{
            background-color: blue;                 #Color desijat del fons del widget.                                                                                                                             
            color: black;                           #Color desijat del text del widget.                  
            padding: 60px;                          #Marge entre el text i la seva vora.            
            border-radius: 10px;                    #Radi de curvatura de la vora del widget.
            margin-left: 5px;                       #Marge esquerra
            margin-right: 5px;                      #Marge dret
            margin-top: 5px;                        #Marge superior
            font-size: 20px;                        #Tamany del text
      }
      #exit_button{
            background-color: #FF5959;  
            color: black;                  
            padding: 5px;                  
            border-radius: 10px;
            border: 2px dotted red;                 #Vora del widget, dotted fa que la vora es representi amb punts i no una linia contínua.
            margin-left: 5px;
            margin-right: 5px;          
            margin-bottom: 5px;
            font-size: 20px;
      }
      #clear_button{
            background-color: #B4B1B2;  
            color: black;                  
            padding: 5px;
            border-radius: 10px;
            border: 2px dotted gray;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            margin-top: 5px;
            font-size: 20px;
      }     
      #accepted_label{
	      background-color: green;                                                                                                                                             
            color: black;                                       
            padding: 60px;                                     
            border-radius: 10px;                    
            margin-left: 5px;                       
            margin-right: 5px;                      
            margin-top: 5px;                         
            font-size: 20px;
	}

         
